.home {
  flex-direction: column;
  width: 90%;
  background: rgba(255, 255, 255, 1);
  box-shadow: 2px 2px 15px gray;
  padding: 20px 0;
  border-radius: 10px;
  display: flex;
  align-content: center;
  justify-content: center;

  &__title {
    text-align: center;
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  &__button {
    justify-content: center;
    display: flex;
    border-radius: 10px;
    background-color: #FFDA00;
    width: 80%;
  }
}

.center {
  height: calc(100% - 56px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
}

@media screen and (min-width: 760px) {
  .center {
    height: calc(100% - 64px);
  }
}
